body {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'font';
  src: url('../assets/fonts/SingleDay-Regular.ttf');
  font-weight: bold;
}
